In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv("Liver Patient Dataset (LPD)_train.csv",encoding= 'unicode_escape')
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1
4,72.0,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         30689 non-null  float64
 1   Gender                      29789 non-null  object
 2   Total_Bilirubin             30043 non-null  float64
 3   Direct_Bilirubin            30130 non-null  float64
 4   Alkaline_Phosphotase        29895 non-null  float64
 5   Alamine_Aminotransferase    30153 non-null  float64
 6   Aspartate_Aminotransferase  30229 non-null  float64
 7   Total_Protiens              30228 non-null  float64
 8   Albumin                     30197 non-null  float64
 9   Albumin_and_Globulin_Ratio  30132 non-null  float64
 10  Dataset                     30691 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 2.6+ MB

In [4]:
data.shape

(30691, 11)

In [5]:
data.isnull().sum()

Age                             2
Gender                        902
Total_Bilirubin               648
Direct_Bilirubin              561
Alkaline_Phosphotase          796
Alamine_Aminotransferase      538
Aspartate_Aminotransferase    462
Total_Protiens                463
Albumin                       494
Albumin_and_Globulin_Ratio    559
Dataset                         0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data['Gender']=enc.fit_transform(data['Gender'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         30689 non-null  float64
 1   Gender                      30691 non-null  int32
 2   Total_Bilirubin             30043 non-null  float64
 3   Direct_Bilirubin            30130 non-null  float64
 4   Alkaline_Phosphotase        29895 non-null  float64
 5   Alamine_Aminotransferase    30153 non-null  float64
 6   Aspartate_Aminotransferase  30229 non-null  float64
 7   Total_Protiens              30228 non-null  float64
 8   Albumin                     30197 non-null  float64
 9   Albumin_and_Globulin_Ratio  30132 non-null  float64
 10  Dataset                     30691 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.5 MB

In [7]:
data.describe()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,30689.000000,30691.000000,30043.000000,30130.000000,29895.000000,30153.000000,30229.000000,30228.000000,30197.000000,30132.000000,30691.000000
mean,44.107205,0.775146,3.370319,1.528042,289.075364,81.488641,111.469979,6.480237,3.130142,0.943467,1.285882
std,15.981043,0.482785,6.255522,2.869592,238.537589,182.158850,280.851078,1.081980,0.792281,0.323164,0.451841
min,4.000000,0.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,32.000000,0.000000,0.800000,0.200000,175.000000,23.000000,26.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,1.000000,0.300000,209.000000,35.000000,42.000000,6.600000,3.100000,0.900000,1.000000
75%,55.000000,1.000000,2.700000,1.300000,298.000000,62.000000,88.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,2.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [8]:
data['Albumin_and_Globulin_Ratio']= data['Albumin_and_Globulin_Ratio'].fillna(data['Albumin_and_Globulin_Ratio'].mean())
data['Age']=data['Age'].fillna(data['Age'].mean())
data['Total_Bilirubin']=data['Total_Bilirubin'].fillna(data['Total_Bilirubin'].mean())
data['Direct_Bilirubin']=data['Direct_Bilirubin'].fillna(data['Direct_Bilirubin'].mean())
data['Alkaline_Phosphotase']=data['Alkaline_Phosphotase'].fillna(data['Alkaline_Phosphotase'].mean())
data['Alamine_Aminotransferase']=data['Alamine_Aminotransferase'].fillna(data['Alamine_Aminotransferase'].mean())
data['Aspartate_Aminotransferase']=data['Aspartate_Aminotransferase'].fillna(data['Aspartate_Aminotransferase'].mean())
data['Total_Protiens']=data['Total_Protiens'].fillna(data['Total_Protiens'].mean())
data['Albumin']=data['Albumin'].fillna(data['Albumin'].mean())
data['Gender']=data['Gender'].fillna(data['Gender'].mean())

In [9]:
data=data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19368 entries, 0 to 30689
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         19368 non-null  float64
 1   Gender                      19368 non-null  int32
 2   Total_Bilirubin             19368 non-null  float64
 3   Direct_Bilirubin            19368 non-null  float64
 4   Alkaline_Phosphotase        19368 non-null  float64
 5   Alamine_Aminotransferase    19368 non-null  float64
 6   Aspartate_Aminotransferase  19368 non-null  float64
 7   Total_Protiens              19368 non-null  float64
 8   Albumin                     19368 non-null  float64
 9   Albumin_and_Globulin_Ratio  19368 non-null  float64
 10  Dataset                     19368 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 1.7 MB

In [10]:
data['Dataset'].value_counts()

Dataset
1    13811
2     5557
Name: count, dtype: int64

In [11]:
cls_0=data[data['Dataset']==1]
cls_1=data[data['Dataset']==2]

In [12]:
len(cls_1)

5557

In [13]:
cls_1=cls_1.sample(13770,replace=True)
data=pd.concat([cls_0,cls_1],axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27581 entries, 0 to 29703
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         27581 non-null  float64
 1   Gender                      27581 non-null  int32
 2   Total_Bilirubin             27581 non-null  float64
 3   Direct_Bilirubin            27581 non-null  float64
 4   Alkaline_Phosphotase        27581 non-null  float64
 5   Alamine_Aminotransferase    27581 non-null  float64
 6   Aspartate_Aminotransferase  27581 non-null  float64
 7   Total_Protiens              27581 non-null  float64
 8   Albumin                     27581 non-null  float64
 9   Albumin_and_Globulin_Ratio  27581 non-null  float64
 10  Dataset                     27581 non-null  int64
dtypes: float64(9), int32(1), int64(1)
memory usage: 2.4 MB

In [14]:

data['Dataset'] = data['Dataset'].replace(2, 0)

In [15]:
data['Dataset'].value_counts()

Dataset
1    13811
0    13770
Name: count, dtype: int64

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
#SPLITTING TEST AND TRAIN DATA
X = data.drop(columns='Dataset', axis=1)
Y = data['Dataset']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

random_forest_classifier = RandomForestClassifier()
random_forest_classifier.fit(X_train, Y_train)

RandomForestClassifier()

In [18]:
y_pred=random_forest_classifier.predict(X_test)

In [19]:
true_labels=Y_test
predicted_labels=y_pred
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(true_labels, predicted_labels)
from sklearn.metrics import precision_score, recall_score, f1_score

precision = precision_score(true_labels, predicted_labels)
recall = recall_score(true_labels, predicted_labels)
f1 = f1_score(true_labels, predicted_labels)

In [20]:
print(accuracy,precision,recall,f1)

0.9974622356495468 0.9985507246376811 0.9963846710050615 0.9974665218964894

In [33]:
rdata=[64,1,0.9,0.3,310,61,58,7,3.4,0.9]#no
#rdata=[17,1,0.9,0.3,202,22,19,7.4,4.1,1.2]#no
#rdata=[None,None,None,None,None,None,None,None,None,None]
#rdata=[65,1,	0.7	,0.1	,187	,16	,18	,6.8,	3.3	,0.90]#yes
#rdata=[65,None,0.7,None,187,16,None,6.8,3.3,0.90]#yes
#rdata=[85,0,1,0.3,208,17,15,7,3.6,1]#no
#rdata=[64,1,0.9,0.3,310,61,58,7,3.4,0.9]#no
#rdata=[17,1,0.9,0.3,202,22,19,7.4,4.1,1.2]#no
#rdata=[35,1,1.8,0.6,275,48,178,6.5,3.2,0.9]#no
#rdata=[38,1,1,0.3,216,21,24,7.3,4.4,1.5]#no
mean=dict()
if(rdata[1] == 'Male'):
    rdata[1]=1
elif(rdata[1]=="Female"):
    rdata[1]=0
if(rdata.count(None)>4):
    print("Please provide proper data to predict")
else:
    c=['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
        'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
        'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
        'Albumin_and_Globulin_Ratio']
    d=dict()
    for i,j in zip(rdata,c):
        if(j=='Age' and i==None):
            i=data['Age'].mean()
            
        elif(j=='Total_Bilirubin' and i==None):
            i=data['Total_Bilirubin'].mean()
        elif(j=='Gender' and i==None):
            i=data['Gender'].mean()
        elif(j=='Direct_Bilirubin' and i==None):
            i=data['Direct_Bilirubin'].mean()
        elif(j=='Alkaline_Phosphotase' and i==None):
            i=data['Alkaline_Phosphotase'].mean()
        elif(j=='Alamine_Aminotransferase' and i==None):
            i=data['Alamine_Aminotransferase'].mean()
        elif(j=='Aspartate_Aminotransferase' and i==None):
            i=data['Aspartate_Aminotransferase'].mean()
        elif(j=='Total_Protiens' and i==None):
            i=data['Total_Protiens'].mean()
        elif(j=='Albumin' and i==None):
            i=data['Albumin'].mean()
        elif(j=='Albumin_and_Globulin_Ratio' and i==None):
            i=data['Albumin_and_Globulin_Ratio'].mean()
        d[j]=i
        mean[j]=data[j].mean()



    print(rdata)
    print(d)
    c=['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin','Alkaline_Phosphotase', 'Alamine_Aminotransferase','Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin','Albumin_and_Globulin_Ratio']



    rdata=pd.DataFrame(d,index=[0])
    print(rdata)

[64, 1, 0.9, 0.3, 310, 61, 58, 7, 3.4, 0.9]
{'Age': 64, 'Gender': 1, 'Total_Bilirubin': 0.9, 'Direct_Bilirubin': 0.3, 'Alkaline_Phosphotase': 310, 'Alamine_Aminotransferase': 61, 'Aspartate_Aminotransferase': 58, 'Total_Protiens': 7, 'Albumin': 3.4, 'Albumin_and_Globulin_Ratio': 0.9}
   Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   64       1              0.9               0.3                   310

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                        61                          58               7

   Albumin  Albumin_and_Globulin_Ratio
0      3.4                         0.9

In [29]:
print(random_forest_classifier.predict(rdata))

[0]

In [32]:
from sklearn.ensemble import RandomForestClassifier
import joblib
joblib.dump(random_forest_classifier, 'model.pkl')

['model.pkl']

In [34]:
mean

{'Age': 43.77430503624002,
 'Gender': 0.752510786410935,
 'Total_Bilirubin': 2.6878872383517614,
 'Direct_Bilirubin': 1.1910043185354189,
 'Alkaline_Phosphotase': 269.8929529303398,
 'Alamine_Aminotransferase': 67.08599187783459,
 'Aspartate_Aminotransferase': 90.6054105391029,
 'Total_Protiens': 6.523273305491896,
 'Albumin': 3.2072029024080475,
 'Albumin_and_Globulin_Ratio': 0.9701843668913785}